# PyCity Schools Analysis

- Your analysis here

---

In [5]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [7]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [9]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"])
student_count

39170

In [11]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [13]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [15]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [17]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [19]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [21]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [23]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools" : [school_count],
                                 "Total Students" : [student_count],
                                 "Total Budget" : [total_budget],
                                 "Average Math Score" : [average_math_score],
                                 "Average Reading Score" : [average_reading_score],
                                 "% Passing Math" : [passing_math_percentage],
                                 "% Passing Reading" : [passing_reading_percentage],
                                 "% Overall Passing" : [overall_passing_rate]})

district_summary_copy = district_summary.copy()

# Formatting
district_summary_copy["Total Students"] = district_summary_copy["Total Students"].map("{:,}".format)
district_summary_copy["Total Budget"] = district_summary_copy["Total Budget"].map("${:,.2f}".format)
district_summary_copy["% Passing Math"] = district_summary_copy["% Passing Math"].map("{:,.3f}%".format)
district_summary_copy["% Passing Reading"] = district_summary_copy["% Passing Reading"].map("{:,.3f}%".format)
district_summary_copy["% Overall Passing"] = district_summary_copy["% Overall Passing"].map("{:,.3f}%".format)

# Display the DataFrame
district_summary_copy

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.981%,85.805%,65.172%

## School Summary

In [35]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types.head(3)

school_name
Huang High School       District
Figueroa High School    District
Shelton High School      Charter
Name: type, dtype: object

In [37]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts.head(3)

school_name
Huang High School       2917
Figueroa High School    2949
Shelton High School     1761
Name: size, dtype: int64

In [55]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete.groupby("school_name")["budget"].sum()
per_school_counts = school_data_complete.groupby("school_name")["size"].sum()
per_school_capita = per_school_budget / per_school_counts
per_school_capita.head(3)

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
dtype: float64

In [67]:
# Calculate the average test scores per school from school_data_complete
per_school_scores = school_data_complete.groupby("school_name")[["math_score", "reading_score"]].mean()

print(per_school_scores.head(3))

                      math_score  reading_score
school_name
Bailey High School     77.048432      81.033963
Cabrera High School    83.061895      83.975780
Figueroa High School   76.711767      81.158020

In [71]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score']>=70]
students_passing_math.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635

In [75]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete['reading_score']>=70]
students_passing_reading.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [89]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
students_passing_math_and_reading.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [121]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math.groupby(["school_name"]
                                                       ).count()["student_name"] / per_school_counts * 100
print(per_school_passing_math.head(3))
per_school_passing_reading = students_passing_reading.groupby(["school_name"]
                                                             ).count()["student_name"] / per_school_counts * 100
print(per_school_passing_reading.head(3))
overall_passing_rate = students_passing_math_and_reading.groupby(["school_name"]
                                                                ).count()["student_name"] / per_school_counts * 100
print(overall_passing_rate.head(3))

school_name
Bailey High School      0.013400
Cabrera High School     0.050664
Figueroa High School    0.022377
dtype: float64
school_name
Bailey High School      0.016466
Cabrera High School     0.052228
Figueroa High School    0.027379
dtype: float64
school_name
Bailey High School      0.010981
Cabrera High School     0.049158
Figueroa High School    0.018042
dtype: float64

In [145]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame ({"School Type" : school_types,
                                     "Total Students" : per_school_counts,
                                     "Total School Budget" : per_school_budget,
                                     "Per Student Budget" : per_school_capita,
                                     "Average Math Score" : students_passing_math,
                                     "Average Reading Score" : students_passing_reading,
                                     "% Passing Math" : per_school_passing_math,
                                     "% Passing Reading" : per_school_passing_reading,
                                     "% Overall Passing" : overall_passing_rate})

per_school_summary_copy = per_school_summary.copy()
                                     
# Formatting
per_school_summary["School Type"] = per_school_summary["School Type"].map("$(:,.2f)".format)
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("$(:,.2f)".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("${:,.6f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("${:,.6f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("${:,.3f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("${:,.3f}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("${:,.3f}".format)


# Display the DataFrame
print(per_school_summary.head())

ValueError: 2

## Highest-Performing Schools (by % Overall Passing)

In [147]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [149]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(% Overall Passing", ascending = True)
bottom_schools.head(5)

SyntaxError: unterminated string literal (detected at line 2) (2914131510.py, line 2)

## Math Scores by Grade

In [157]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_graders_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th" : ninth_graders_math_scores,
                                      "10th" : tenth_graders_math_scores,
                                      "11th" : eleventh_graders_math_scores,
                                      "12th" : twelfth_graders_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

TypeError: agg function failed [how->mean,dtype->object]

## Reading Score by Grade

In [159]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]}.mean()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]}.mean()["reading_score"
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]}.mean()["reading_score"
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]}.mean()["reading_score"

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th" : ninth_graders_reading_scores,
                                        "10th" : tenth_graders_reading_scores,
                                        "11th" : eleventh_graders_reading_scores,
                                        "12th" : twelfth_graders_reading_scores})
                    
# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (2904460856.py, line 8)

## Scores by School Spending

In [24]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [161]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=spending_labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

NameError: name 'school_spending_df' is not defined

In [27]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [163]:
# Assemble into DataFrame
spending_summary = reading_scores_by_grade = pd.DataFrame ({"Average Math Score" : spending_math_scores, "Average Reading Score" : spending_reading_scores, "% Passing Math" : Spending_passing_math, "% Passing Reading" : spending_passing_reading, "% Overall Passing" : overall_passing_spending})


# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [165]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [167]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

NameError: name 'per_school_summary' is not defined

In [31]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], size_bins, labels=size_labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df.head(3)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [32]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [169]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame ({"Average Math Score" : size_math_scores,
                              "Average Reading Score" : size_reading_scores,
                              "% Passing Math" : size_passing_math,
                              "% Passing Reading" : size_passing_reading,
                              "% Overall Passing" : size_overall_passing})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [171]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame ({"Average Math Score" : average_math_score_by_type,
                              "Average Reading Score" : average_reading_score_by_type,
                              "% Passing Math" : average_percent_passing_math_by_type,
                              "% Passing Reading" : average_percent_passing_reading_by_type,
                              "% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined